<h1>This is my home page!</h1>
<br>

<%=image_tag("wallpaper-303613.jpg.png", alt: "Stormtroopers are everywhere")%>

<br><br>

<%=link_to 'Shows', shows_path %><br>
<%=link_to 'Networks', networks_path %>