<!DOCTYPE html>
<html>
<head>
  <title>Labtwo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<br><br>
<a href="/networks"> Network Index </a><br>
<a href="/shows"> Shows Index </a>


</body>
</html>
